<aside class="sidebar">   
    <dl>

        <dt>Getting Started</dt>
        <dd><a data-id="components/getting-started/installation" href="/components/getting-started/installation/" title="Installation">Installation</a></dd>

        <dt>Content</dt>
        <dd><a data-id="components/content/text-styles" href="/components/content/text-styles/" title="Text Styles">Text Styles</a></dd>
        <dd><a data-id="components/content/sass-variables" href="/components/content/sass-variables/" title="Sass Variables">Sass Variables</a></dd>
        <dd><a data-id="components/content/icons" href="/components/content/icons/" title="Icons">Icons</a></dd>
        <dd><a data-id="components/content/tables" href="/components/content/tables/" title="Tables">Tables</a></dd>

        <dt>Actions</dt>
        <dd><a data-id="components/actions/button" href="/components/actions/button/" title="Button">Button</a></dd>
        <dd><a data-id="components/actions/content-switcher" href="/components/actions/content-switcher/" title="Content Switcher">Content Switcher</a></dd>
        <dd><a data-id="components/actions/toggle" href="/components/actions/toggle/" title="Toggle">Toggle</a></dd>
        <dd><a data-id="components/actions/dropdown" href="/components/actions/dropdown/" title="Dropdown">Dropdown</a></dd>

        <dt>Forms</dt>
        <dd><a data-id="components/forms/text-fields" href="/components/forms/text-fields/" title="Text fields">Text fields</a></dd>
        <dd><a data-id="components/forms/select" href="/components/forms/select/" title="Select">Select</a></dd>
        <dd><a data-id="components/forms/checkbox-and-radio-buttons" href="/components/forms/checkbox-and-radio-buttons/" title="Checkbox">Checkbox and Radio Buttons</a></dd>
        <dd><a data-id="components/forms/tags" href="/components/forms/tags/" title="Tags">Tags</a></dd>
        <dd><a data-id="components/forms/validation" href="/components/forms/validation/" title="Validation">Validation</a></dd>

        <dt>Navigation</dt>
        <dd><a data-id="components/navigation/tabs" href="/components/navigation/tabs/" title="Tabs">Tabs</a></dd>
        <dd><a data-id="components/navigation/steps" href="/components/navigation/steps/" title="Steps">Steps</a></dd>
        <dd><a data-id="components/navigation/pagination" href="/components/navigation/pagination/" title="Pagination">Pagination</a></dd>

        <dt>Overlays</dt>
        <dd><a data-id="components/overlays/tooltip" href="/components/overlays/tooltip" title="Tooltip">Tooltip</a></dd>
        <dd><a data-id="components/overlays/modal" href="/components/overlays/modal" title="Modal">Modal</a></dd>
        <dd><a data-id="components/overlays/notification" href="/components/overlays/notification" title="Notificaction">Notificaction</a></dd>

    </dl>
</aside>